{% extends 'template.html.twig' %}

{% block title %}Project index{% endblock %}

{% block main %}
    <h1>Project index</h1>
<div class="table-responsive">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Description</th>
                <th>Status</th>
                <th>Deadline</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.label }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.status }}</td>
                <td>{{ project.deadline|date('Y-m-d H:i:s') }}</td>
                <td>{{ project.createdAt|date('Y-m-d H:i:s') }}</td>
                <td>
                    <a href="{{ path('project_show', {'id': project.id}) }}">show</a>
                    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>
                    {{ include('project/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>    
    <a href="{{ path('project_new') }}">Create new</a>
{% endblock %}
