{% extends 'template.html.twig' %}

{% block title %}Project{% endblock %}

{% block main %}
    <h1>Project</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ project.label }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ project.status }}</td>
            </tr>
            <tr>
                <th>Deadline</th>
                <td>{{ project.deadline ? project.deadline|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ project.createdAt ? project.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    {% for task in project.tasks %}
        <div class="row">
            <div class="col-6">
                {{ task.label }} {{ task.deadline|date('d-m-Y') }} {{ task.status }}
                <a href="{{ path('task_edit', {'id': task.id}) }}">edit task</a>
            </div>
            <div class="col-6">
                {{ include('task/_delete_form.html.twig') }}
            </div>
        </div>
    {% endfor %}
    <a href="{{ path('project_index') }}">back to list</a>

    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>

    <a href="{{ path('task_new', {'id': project.id}) }}">new task</a>


    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
